
.navbar.navbar-dark .nav-item .nav-link:hover { color: #98e5ff!important; }
.navbar.navbar-dark .nav-item .nav-link:focus { color: #00ace6!important; }
/*.navbar.navbar-dark .nav-item .nav-link:active { color: #007E33!important; }*/
/*.navbar.navbar-dark .nav-item .nav-link:visited { color: #00ace6!important; }*/
